@import 'normalize.css';
// Fonts Embeded
@font-face {
    font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC,
        sans-serif;
    src: url('/assets/fonts/TikTokFont-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC,
        sans-serif;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
}
@font-face {
    font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC,
        sans-serif;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
}
@font-face {
    font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC,
        sans-serif;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
}
@font-face {
    font-family: 'IBM Plex Sans', TikTokFont, Arial, Tahoma, PingFangSC,
        sans-serif;
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
}
//
:root {
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary-color: rgb(254, 44, 85);
    --text-color: rgb(255, 255, 255);
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Sans', serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-size: 1.6rem;
    overflow: hidden;
}
button,
input {
    outline: none;
    border: none;
}
button,
button:hover {
    cursor: pointer;
}
a[href] {
    text-decoration: none;
}
input {
    outline: none;
}
