.container {
    display: flex;
    flex-direction: column;
    width: 208px;
    padding-left: 18px;
}
.wrapper {
    min-width: 240px;
    background-color: #fff;
    padding: 4px 0px 26px 0;
    font-family: var(--font-family);
    font-weight: 500;
}
.user-avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 32px;
    height: 32px;
    margin-left: 6px;
    padding: 3px;
}
