.container {
    display: flex;
    flex-direction: column;
    width: 208px;
    padding-left: 18px;
}
.wrapper {
    position: relative;
    min-width: 240px;
    background-color: #fff;
    padding-top: 130px;
    font-family: var(--font-family);
    font-weight: 500;
}
.user-avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 32px;
    height: 32px;
    margin-left: 6px;
    padding: 3px;
}

.footer {
    position: absolute;
    margin: 0;
    bottom: -115px;
    padding-top: 11px;
    ul {
        list-style: none;
        text-decoration: none;
        li {
            font-size: 15px;
            line-height: 22px;
            margin-top: 0px;
            cursor: pointer;
            color: rgba(22, 24, 35, 0.5);
            font-weight: 700;
        }
        li + li {
            margin-top: 5px;
        }
        span {
            font-weight: 600;
            color: rgba(22, 24, 35, 0.5);
            font-size: 12px;
            line-height: 16px;
            display: inline-block;
            margin-right: 6px;
            margin-top: 5px;
        }
    }
}
