:global(.swiper-container) {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* Điều hướng tùy chỉnh */
:global(.swiper-slide) {
    display: flex;
    flex-direction: column;
}
:global(.swiper-button-next),
:global(.swiper-button-prev) {
    color: #000; /* Màu của nút điều hướng */
    background-color: rgba(22, 24, 35, 0.06); /* Màu nền tùy chỉnh */
    border-radius: 50%; /* Bo tròn nút điều hướng */
    width: 40px; /* Kích thước nút điều hướng */
    height: 40px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // right: 40px;
    // left: 800px;
    // bottom: 10px;
}
:global(.swiper-button-next) {
    right: 40px;
    position: absolute;
    bottom: 200px;
}
:global(.swiper-button-prev) {
    left: 750px;
    position: absolute;
    bottom: 200px;
}
:global(.swiper-button-next::after),
:global(.swiper-button-prev::after) {
    display: flex;
    flex-direction: column;
    font-size: 20px; /* Kích thước biểu tượng mũi tên */
} /* Đổi màu nút điều hướng khi hover */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Màu nền khi hover */
    color: #fff; /* Màu biểu tượng khi hover */
}
//
.content-item {
    display: flex;
    width: 60%;
    height: 100%;
    border-radius: 16px;
    position: relative;
    user-select: none;
}
.content-item + .content-item {
    margin-top: 30px;
}
.video-container {
    position: relative;
}
.video-container,
.video {
    width: 75%;
    height: 100%;
    z-index: 0;
}
.video {
    margin-bottom: 20px;
}
.video::after {
    content: '';
    width: 50px;
}
.video-more {
    z-index: 1000;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
}
.video-more {
    top: 4px;
    right: 80px;
    cursor: pointer;
    position: absolute;
}
.video-container .video video {
    width: 85%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 16px;
}
.video-more-button {
    width: 200px;
}

.video-more-button {
    display: flex;
}
