.content-item {
    display: flex;
    width: 60%;
    height: 100%;
    border-radius: 16px;
    position: relative;
    user-select: none;
}
.content-item + .content-item {
    margin-top: 30px;
}
.video-container {
    position: relative;
}
.video-container,
.video {
    width: 100%;
    height: 100%;
    z-index: 0;
}
.video {
    margin-bottom: 20px;
}
.video::after {
    content: '';
    width: 50px;
}
.video-more {
    z-index: 1000;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
}
.video-more {
    top: 4px;
    right: 80px;
    cursor: pointer;
    position: absolute;
}
.video-container .video video {
    width: 85%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 16px;
}
.video-more-button {
    width: 200px;
}

.video-more-button {
    display: flex;
}
