.video-more-menu {
    width: 200px;
    height: 176px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    padding: 8px 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    z-index: 1;
    position: absolute;
    left: 60px;
    top: 0;
}
.video-more-menu li {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 8px 16px;
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.video-more-item {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(22, 24, 35);
}
.video-more-title {
    color: rgb(22, 24, 35);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-inline: 8px;
    white-space: nowrap;
}
