.wrapper {
    --search-height: 46px;
    font-family: var(--font-family);
    height: 60px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
}
.inner {
    height: 100%;
    width: 100%;
    padding-left: 16px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 32px;
    height: 32px;
    margin-left: 32px;
}

.logo {
    min-width: 300px;
    &:hover {
        cursor: pointer;
    }
}

.actions {
    display: flex;
}
.actions button {
    border: none;
    outline: none;
    width: 30px;
    font-size: 20px;
    background: transparent;
}
.actions > div {
    display: flex;
}
button + button {
    margin-left: 10px;
}
.actions img {
    margin-left: 15px;
}
.menu-icon {
    font-size: 20px;
    margin-left: 16px;
    font-style: normal;
    padding: 0 10px 0 12px;
    background-color: var(--text-color);
}

.menu-icon > svg {
    font-size: 18px;
    font-weight: 500;
}
.actions .notify {
    position: relative;
}
.actions .notify::after {
    content: '12';
    font-size: 11px;
    font-weight: 500;
    color: var(--text-color);
    position: absolute;
    width: 12px;
    height: 12px;
    padding: 5px;
    top: -8px;
    right: -10px;
    background: var(--primary-color);
    border-radius: 50%;
    opacity: 0.95;
}
