.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    text-decoration: none;
    color: rgba(22, 24, 35, 0.99);
    font-family: var(--font-family);
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
}
.name {
    font-style: 14px;
    font-weight: 600;
}
.check {
    margin-left: 6px;
    font-size: 12px;
    color: rgb(32, 213, 236);
}
.user-name {
    font-weight: 600;
}

.full-name {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
}
